@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #181717;
}

@layer utilities {
  .img-shadow {
    filter: drop-shadow(40px 50px 25px #0f1115);
  }
  .img-shadow2 {
    filter: drop-shadow(10px 30px 15px #3030397a);
  }
  .input-style {
    @apply px-4 py-2 border-[1px] border-gray-400 rounded-md;
  }
  .primary-btn {
    @apply bg-primary text-white px-4 py-2 rounded-md hover:bg-primaryDark duration-200;
  }
}

.footer-middle-container {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/janko-ferlic-h9Iq22JJlGk-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
